.layout-header {
  background-color: #264653;
  color: #f4a261;
  font-size: 30px;
  text-align: center;
  padding: 30px;
  width: 100%;
}
.layout-footer {
  background-color: #264653;
  color: #f4a261;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
